@import "./cards.css";

.title-p-container {
  margin-bottom: 3rem;
}

.title-p-container {
  display: flex;
  flex-direction: columns;
  justify-content: space-between;
}

.title-p-container h1 {
  margin: 0px;
  color: var(--black);
}

.title-p-container h1 spam {
  font-size: 1rem;
  margin: 0px;
  color: var(--third-black);
}

.ordenation-container {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .ordenation-container {
    width: 100%;
    text-align: left;
    display: flex;
  }
  .title-p-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}
