@import "./links.css";
@import "./secContent/secContent.css";
@import "./firstContent/firstContent.css";

.details-page-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .details-page-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
