@import "./assets/style/main/main.css";
@import "./assets/style/navbar/navbar.css";
@import "./assets/style/details/details.css";

:root {
  --red: #f6413d;
  --sec-red: #b3302e;

  --black: #222222;
  --sec-black: rgba(0, 0, 0, 0.274);
  --third-black: rgba(0, 0, 0, 0.685);
  --qua-black: rgba(0, 0, 0, 0.171);

  --blue: #151926;
  --sec-blue: #2b334e;

  --white: #eeeeee;

  --green: #2dc241;

  --grad: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238));
  --grad-red: linear-gradient(#fb5448, #e53a39);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Oxygen",
    "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sec-red);
}
